%body#page-top.index
  / Navigation
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header.page-scroll
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#page-top"} Sweepstakes
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.page-scroll
            %a{:href => "/homepages/front_page"} Home
          %li.page-scroll
            %a{:href => "/admin_user/sign_in"} Login
      / /.navbar-collapse
    / /.container-fluid
  / Header

%header.home-page.privacy-policy
  .container
    .row
      %h2 Sweepstake's Privacy Policy
      
      %p Privacy is most concerned factor at Sweepstakes. Your privacy is critically important to us. This privacy policy summarizes what information we might collect from a registered user or other visitor, and what we will and will not do with it.
      
      %p Key principles at Sweepstakes
      %ul
        %li We don’t ask you for personal information unless we truly need it to provide our services.
        %li We don’t share your personal information with anyone except to comply with the law, develop our products, or protect our rights.
        %li We don’t store personal information on our servers unless it’s required for the on-going operation of one of our services.
        
      %h4 Facebook Connect for Participants
      
      %p Most of the times perticipants prefers to enter Sweepstake using facebook. When participant signs in through Facebook Connect, they will be shown a dialog hosted by Facebook that describes Sweepstakes app’s permissions. We currently ask for only basic information, email address and publish stream.
      %ul
        %li We take your privacy seriously and stand by the following guidelines when it comes to your Facebook account:
        %li We will never post anything to your wall unless you give us permission.
        %li We will never store your Facebook password.
        %li We will only use information you have made publicly available to the Facebook community.