%body{:style => "max-width: 450px;padding: 1px;margin: 50px auto;border-radius: 5px;border: 5px solid #F0F0F0; height:505px;margin-top: auto;color: black;font-family: courier;margin-bottom: auto;"}
  %table.head-wrap{:width => "100%"}
    %tbody
      %tr
        %td
        %td.header.container
          .content{:style => "max-height: 318px; opacity:0.7"}
            %img{:alt => "signup", :height => "47%", :src => "http://s16.postimg.org/3y3vw9hbp/party3.jpg", :width => "100%"}
        %td
  %table.body-wrap{:style => "margin-top:-37%;"}
    %tbody
      %tr
        %td.container
          .content
            %table{:style => "text-align:left;padding:2%;"}
              %tbody
                %tr
                  %td
                    %p{:style => "font-style: italic;color:#CC0000;"} Hey #{@sweepstake.admin_user.name},
                    %p{:style => "font-size: large;color:#FF3300;  font-style: italic;"}
                      Knock, knock
                      %br
                        Age is an alarm clock,
                        %br
                          your D day has arrived
                    %p.callout
                      %p{:style => "font-size: large;color:#FF3300;  font-style: italic;"}
                        Reach out to more and more customers,
                        %br
                          let us make DIwali Dhamaka
                          %br
                            into a party that never ends..
                      %p{:style => "color:#CC0000;font-family: verdana;text-align:center"}
                        Thanks TEAM CEM-Play                        