%body{:style => "max-width: 450px;padding: 1px;margin: 50px auto;border-radius: 5px;border: 3px solid #305A72; height:600px;margin-top: auto;color: black;font-family: courier;margin-bottom: auto;"}
  %table.head-wrap{:width => "100%"}
    %tbody
      %tr
        %td
        %td.header.container
          .content{:style => "max-height: 318px; opacity:1"}
            %img{:alt => "signup", :height => "100%", :src => "http://s16.postimg.org/gx13ljcol/share1.jpg", :width => "100%"}
        %td
  %br
    %table.body-wrap
      %tbody
        %tr
          %td.container
            .content
              %table
                %tbody
                  %tr
                    %td
                      %p{:style=>"font-size: 23px;font-family: verdana;color: blue;"} Hey!!!,
                      %p{:style => "font-style: italic;color:blue;"}
                        After Noah, you are THE CHOSEN ONE.
                      %p{:style => "color: #006699;  font-style: italic;"}
                        BVC would like to invite you to participate in the sweepstakes,
                      .p{:style => 'border: 3px solid #fff'}
                        %a{:href => "#{@link}"} Click here
                        and stand a chance to win some amazing prizes.
                        %br
                          %br
                            %br
                              would like to invite you to participate in the sweepstakes, link, and stand a chance to win some amazing prizes.
                      %p.callout
                        %p{:style => "color: #006699;  font-style: italic;"}
                          Please click business URL for more details...
                        %br
                          %br
                            %p{:style => "color:blue;font-family: verdana;text-align:right"}
                              Thanks TEAM CEM-Play                       