%body{:style => "max-width: 450px;padding: 1px;margin: 50px auto;border-radius: 5px;border: 6px solid #CCCCFF;height:600px;margin-top: auto;color: black;font-family: courier;margin-bottom: auto;"}
  %table.head-wrap{:width => "100%"}
    %tbody
      %tr
        %td
        %td.header.container
          .content{:style => "max-height: 318px;opacity:0.7"}
            %img{:alt => "signup", :height => "107%", :src => "http://s16.postimg.org/mwoup6xh1/approval1.jpg", :width => "100%"}
        %td
  %br
    %br
      %table.body-wrap
        %tbody
          %tr
            %td.container
              .content
                %table{:style => "margin-top:-55%;padding:2%"}
                  %tbody
                    %tr
                      %td
                        %p{:style => "font-size: large;font-style: italic;color:#000000;"}  Hey #{@name.capitalize},
                        %p.callout
                          %p{:style => "font-size: large;color:#330033;  font-style: italic;"}
                            You must be really good at fishing, because this sweepstake is going to be a perfect bait for the target audience.
                          %p{:style => "font-size:xx-large;font-style: italic;color:#000000;text-align:center;"} Happy hunting!!!
                          %p{:style => "color:#000000;font-family: verdana;text-align:right"}
                            Thanks TEAM CEM-Play                    