%body{:style => "max-width: 450px;padding: 1px;margin: 50px auto;border-radius: 5px;border: 3px solid #305A72; height:400px;margin-top: auto;color: black;font-family: courier;"}
  %table.head-wrap{:width => "100%"}
    %tbody
      %tr
        %td
        %td.header.container
          .content{:style => "max-height: 318px; opacity:1"}
            %img{:alt => "signup", :height => "100%", :src => "http://s16.postimg.org/gx13ljcol/share1.jpg", :width => "100%"}
        %td
  %br
    %table.body-wrap
      %tbody
        %tr
          %td.container
            .content
              %table
                %tbody
                  %tr
                    %td
                      %p{:style=>"font-size: 23px;font-family: verdana;color: blue;"} Hey #{@name.capitalize},
                      %p{:style => "font-style: italic;color:blue;"}
                        Man proposes, ADMIN disposes. I know it’s tough, but something’s not right with your sweepstake.
                      %p{:style => "color: crimson;  font-style: italic;"}
                        Please resubmit for approval. Sorry for the inconvenience, looking forward to your sweepstake!!
  %p{:style => "color:blue;font-family: verdana;text-align:right"}
    Thanks,business name or CEM Play