.bootstrap-frm1 
  = submit_tag "Congratulations",:class=> "btn btn-info col-sm-12",style: "font-size: large;"
  .bootstrap-frm2
    %strong Hey Rakesh, 
    %p Congratulations !!!

  .non-semantic-protector
    %h1.ribbon
      %strong.ribbon-content Team CEM Play

