.error-page
  = link_to dashboards_path , :class=> "btn btn-default" do
    %span.glyphicon.glyphicon-home
    Home 
  = link_to  "", :class => "btn btn-default", :onclick=>"history.go(-1);" do
    %span.glyphicon.glyphicon-arrow-left
    Back