#wrapper.active
  #sidebar-wrapper
    %ul#sidebar.sidebar-nav
      %li
        %a{:href => "/dashboards"}
          Dashboard
          %span.sub_icon.fa.fa-dashboard{"data-placement" => "right","data-toggle" => "tooltip", :title => "Dashboard"}
      %li
        %a{:href => "/sweepstakes"}
          Sweepstakes
          %span.sub_icon.fa.fa-gift{"data-placement" => "right","data-toggle" => "tooltip", :title => "SweepStakes"}
      -#%li
        -#%a{:href => "#"}
          -#Contests
          -#%span.sub_icon.fa.fa-rocket
      %li
        %a{:href => "/participants"}
          Participants
          %span.sub_icon.fa.fa-users{"data-placement" => "right","data-toggle" => "tooltip", :title => "Users"}
      %li
        %a{:href => "#"}
          Payment Info
          %span.sub_icon.fa.fa-rupee{"data-placement" => "right","data-toggle" => "tooltip", :title => "Payment Info"}