%body{:style => "max-width: 450px;padding: 1px;margin: 50px auto;border-radius: 5px;border: 3px solid #305A72; height:600px;margin-top: auto;color: black;font-family: courier;margin-bottom: auto;"}
  %table.head-wrap{:width => "100%"}
    %tbody
      %tr
        %td
        %td.header.container
          .content{:style => "max-height: 318px;"}
            %img{:alt => "signup", :height => "80%", :src => "http://s16.postimg.org/y03vh1tdh/cong.jpg", :width => "100%"}
        %td
  %br
    %br
      %table.body-wrap
        %tbody
          %tr
            %td.container
              .content
                %table
                  %tbody
                    %tr
                      %td
                        %p{:style => "font-style: italic;color:blue;"} Hey #{@name},
                        %p.callout
                          %p{:style => "font-size: large;color:#FF0066;  font-style: italic;"}
                            Do you even realise that you have left so many people heartbroken?
                          %p{:style => "font-size: large;font-style: italic;color:#CC6699;text-align:center"}
                            I mean what did you do to be so deserving, brilliant!!
                          %p{:style => "font-size: large;font-style: italic;color:#FF0066;text-align:center"}
                            BVC would like to congratulate you on being selected as winner for Sweepstakes Name.
                          %p{:style => "font-size: large;font-style: italic;color:#FF0066;text-align:center"}
                            For more information on how to redeem your reward please visit business URL....
                          %p{:style => "color:blue;font-family: verdana;text-align:right"}
                            Thanks TEAM CEM-Play                       