%body{:style => "max-width: 450px;padding: 1px;margin: 50px auto;border-radius: 5px;border: 6px solid #FFCCFF; height:600px;margin-top: auto;color: black;font-family: courier;margin-bottom: auto;"}
  %table.head-wrap{:width => "100%"}
    %tbody
      %tr
        %td
        %td.header.container
          .content{:style => "max-height: 318px; opacity:1"}
            %img{:alt => "signup", :height => "60%", :src => "http://s16.postimg.org/crusdd4ad/welcome_1.jpg", :width => "100%"}
        %td
  %br
    %br
      %br
        %br
          %table.body-wrap
            %tbody
              %tr
                %td.container
                  .content
                    %table
                      %tbody
                        %tr
                          %td
                            %p{:style => "font-style: italic;color:#666600;"} Welcome Aboard 
                            %p{:style => "color:#FF6600;  font-style: italic;"}
                              #{@name},
                              %br
                                %br{:style => "font-size: large;"}
                                  This is going to rank up there as one of the best decisions ever taken for BVC.
                            %p.callout
                              %p{:style => "font-size: large;color:#FF6600;  font-style: italic;"}
                                It takes 2 to tango, and I am sure we will be making a great pair towards growing your customer base.
                              %p{:style => "color:#666600;font-family: verdana;text-align:right"}
                                Thanks Team CEM-Play